<form class="new-pomodoro" {{action save on="submit"}} >

  <label>Start Time</label>
  {{view Ember.TextField value=start_time}}

  <label>Tag</label>
  {{input value=tag}}

  {{input type="submit" value="Create"}}
</div>
