<div class="wide_content">
  <div class="upload_form">
  <h2>Import Pomodoros</h2>
  <p>You can import past pomodoros from a CSV file. Must be in the format <i>"end date, tag"</i>
  <%= form_tag import_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
    <div class="clear"></div>
  <% end %>
  </div>
</div>

