<div class='controls guest' data-intro="Log in or sign up to track your pomodoros." data-position="bottom">
  <ul>
    <li class='first'><a href='/login'>Login</a></li>
    <li><a href='/signup'>Sign Up</a></li>
  </ul>
</div>

