<div class='control_wrapper'>
  <div class='controls'>
    <div class='avatar_small'>
      <%= link_to image_tag(current_user.avatar.url(:thumb)), current_user, target: '_blank' %>
    </div>
  </div>
  <div class='logout ss-icon'>
    <a data-method='delete' href='/logout' rel='nofollow'>logout</a> <a href='/settings'>settings</a>
  </div>
</div>
 
