<form {{action login on="submit"}}>
  <label for="email">Email</label>
  {{view Ember.TextField id="email" valueBinding="email"}}
  <label for="password">Password</label>
  {{view Ember.TextField id="password" type='password' valueBinding="password"}}
  <button type="submit">Login</button>
</form>
