<div id="landing">
  <div class="container">
    <h2 class="landing_header">
      Make your job manageable. Gamify your work. Get more done.<br />
    </h2>
    <div class="more_info">
      <p><strong>Pomade</strong> is a free Pomodoro tracking app. Set a timer for 25 minutes, get work done, tag the Pomodoro and take a five minute break. Repeat.</p>
      <a href="#/timer" class="start_now">Get started now ></a>
    </div>
  </div>
</div>

<div class="container" id="more_info">

</div>