<div class="timer">
  <div class="progress">
    {{minutes timer.seconds}}
  </div>

  <div class="timer-controller">
    <a {{action toggleTimer}}>{{timer.nextAction}}</a>
    <a {{action reset}}>Reset</a>
  </div>
</div>

