$header-height: 100px;

/* Text styles */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: $bg-light;
  color: #444;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  line-height: $header-height;
  margin: 0;
  color: #fff;
}

h1:before, h1:after {
  color: $bg+15;
  content: "\00b7";
}

h2 {
  text-align: center;
  line-height: 2;
  width: 100%;
  display: block;
  color: #DEE7EF - 20;
  margin: 0 auto;
  background: $bg + 20;
  border-radius: 4px;
}

/* Grid */

.container {
}

.content {
  max-width: 300px;
  margin: 0 auto;
}

.wide_content {
  max-width: 800px;
  margin: 0 auto;
}



header {
  height: $header-height;
  background: $bg + 5 ;
  border-top: 5px solid $orange;
 }

/* Messages */

.flash {
  width: 100%;
  background: $green;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
}

.logout {
  float: right;
  margin-top: -$header-height;
  height: $header-height;
  line-height: $header-height;
  font-size: 1.2em;
  background: $bg + 20;
  padding: 0 1em;
  a {
    text-transform:uppercase;
    color: #CCD0D4;
    text-decoration: none;
  }
}
