$header-height: 100px;


/* Text styles */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: $bg-light;
  color: #444;
}

body.application {
  background: $bg + 5;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  line-height: $header-height;
  margin: 0;
  color: #fff;
}

h1:before, h1:after {
  color: $bg+15;
  content: "\00b7";
}

h1 a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #ddd;
  }
}

h2 a {
  color: $bg-light - 70;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Grid */

.container {
}

.clear {
  clear: both;
}

.content {
  max-width: 300px;
  margin: 0 auto;
}

.wide_content {
  max-width: 800px;
  margin: 3em auto 0 auto;
}

header .wide_content {
  margin-top: 0; /* no margin on the header */
}

div {
  box-sizing: border-box;
}

header {
  height: $header-height;
  background: $bg + 5 ;
  border-top: 5px solid $orange;
}

.left_column {
  width:48%;
  margin-right: 2%;
  float: left;
}

.right_column {
  width: 30%;
  margin-left: 2%;
  float: right;
}

/* Messages */

.flash {
  width: 100%;
  background: $bg-green;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
}

/* Navigation */

.controls {
  float: right;
  margin-top: -$header-height;
  height: $header-height;
  line-height: $header-height;
  padding: 0;
  width: 150px;
  .avatar_small {
    border-radius: 50%;
    position: relative;
    width: 74px;
    height: 74px;
    top: 15px;
    left: 40px;
    line-height: 0;
    float: left;
    border: 7px solid $bg + 10;
    img {
      width: 100%;
      margin: 0;
      border-radius: 50%;
  }
    a:hover img {
      background: #fff;
      opacity: 0.7;
    }
  }
}
.logout {
    display:none;
    font-size: 2em;
    width: 150px;
    padding: 0.5em 0;
    float: right;
    background: $bg-light - 10;
    text-align: center;  
    letter-spacing: 0.3em;
    a {
      text-transform:uppercase;
      color: $bg + 50;
      text-decoration: none;
      &:hover {
        color: $green;
      }
  }

}
.ember-application .logout {
  background: $bg - 5;
}
.guest {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
    text-align: center;
    li.first {
      border-bottom: 2px solid $bg+10;
    }
}
  a {
      font-weight: bold;
      color: $bg + 50;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $green;
      }
  }

}

/* Forms */

input {
  border-radius: 7px;
  box-sizing: border-box;
  border: 3px solid $border;
  width: 96%;
  font-size: 1.5em;
  padding: 0.3em 2% ;
  color: #666;
}

input[type=submit] {
  clear: both;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  width: auto;
  padding: 0.5em 1.2em;
  background: $orange;
  box-shadow: 0 5px 0 #d98559;
  border: none;
  border-radius: 4px;
  color: #fff;
}

select {
  -webkit-appearance: none;
  width: 100%;
  border: 3px solid $border;
  font-size: 1.5em;
  padding: 0.3em 2%;
  top: 5%; 
}


input[type=file] {
  border: none;
  font-size: 1em;
  background: $bg-light - 10;
  padding: 1em;
  margin: 1em 0;
  width: 100%;
  border-radius: 0;
}

.input {
  margin: 1.5em 0;
  max-width: 300px;  
  clear: both;
}

label {
  text-transform: uppercase;
  color: #5c656d;
}

.error {
  float: left;
  color: $red;
  margin-bottom: 1em;
}

.error:after {
  content: "";
  clear: both;
  display: block;
}

.field_with_errors input {
  border-color: $red;
}

abbr {
  display: none;
}
