$header-height: 100px;

/* Text styles */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: $bg-light;
  color: #444;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  line-height: $header-height;
  margin: 0;
  color: #fff;
}

h1:before, h1:after {
  color: $bg+15;
  content: "\00b7";
}


/* Grid */

.container {
}

.clear {
  clear: both;
}

.content {
  max-width: 300px;
  margin: 0 auto;
}

.wide_content {
  max-width: 800px;
  margin: 3em auto 0 auto;
}

header .wide_content {
  margin-top: 0; /* no margin on the header */
}

div {
  box-sizing: border-box;
}

header {
  height: $header-height;
  background: $bg + 5 ;
  border-top: 5px solid $orange;
}

.left_column {
  width:48%;
  margin-right: 2%;
  float: left;
}

.right_column {
  width: 48%;
  margin-left: 2%;
  float: right;
}

/* Messages */

.flash {
  width: 100%;
  background: $green;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
}

.logout {
  float: right;
  margin-top: -$header-height;
  height: $header-height;
  line-height: $header-height;
  font-size: 1.2em;
  background: $bg + 20;
  padding: 0 1em;
  a {
    text-transform:uppercase;
    color: #CCD0D4;
    text-decoration: none;
  }
}

/* Forms */

input {
  border-radius: 7px;
  box-sizing: border-box;
  border: 3px solid #E8ECF1;
  width: 96%;
  font-size: 1.5em;
  padding: 0.3em 2% ;
  color: #666;
}

input[type=submit] {
  clear: both;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 150px;
  padding: 0.5em 0;
  background: $orange;
  box-shadow: 0 5px 0 #d98559;
  border: none;
  border-radius: 4px;
  color: #fff;
}

select {
  -webkit-appearance: none;
  width: 100px;
  border: 3px solid #E8ECF1;
  font-size: 1.5em;
  padding: 0.3em 2%;
  top: 5%; 
}

label.select {
  margin-right: 200px;
}

input[type=file] {
  border: none;
  font-size: 1em;
  background: $bg-light - 10;
  padding: 1em;
}

.input {
  margin: 1.5em 0;
  max-width: 300px;  
}

label {
  text-transform: uppercase;
  color: #5c656d;
}

