body {
  background: $bg;
  color: #E6ECF2;
  font-family: 'Brandon Grotesque';
  font-size: 18px;
  text-align: center;
}

/* Text */

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #555;
  }
}


/* Grid */

.clear {
  clear: both;
  font-size: 0.001px;
}

.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


/* Buttons */

button {
  border: none;
  border-radius: 0.2em;
  background: $green;
  color: $bg;
  height: 60px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

/* Forms */

label {
  margin-right: 0.4em;
  text-transform: uppercase;
}
input {
  width: 6em;
  margin-right: 1em;
}
