footer {
  position: fixed;
  top: 100%;
  width: 100%;
  margin-top: -80px;
  height: 80px;
  background: #2F353B;

  button {
    background: #C07171;
    color: #fff;
    padding: 0.5em 1em;
    height: auto;
    margin-top: 1em;
  }
}

.mini_timer_expand {
  .description {
    display: none;
  }
  &:hover {
    .description {
      display: block;
      position: fixed;
    }
  }
}
