.stat_wrapper {
  list-style: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    width: 15%;
    padding-right: 10%;
  }
  li.last {
    padding-right: 0;
  }
}
.statistic {
  
  position: relative;
  width: 100%;
  border-radius: 50%;
  height: auto;
  padding-top: 100%;
  background: white;
  text-align: center;
  vertical-align: middle;
  p {
    color: #888;
    margin: 0;
    line-height: 0;
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
  }
  p.stat_number {
    color: #5A5A5A;
    font-weight: bold;
    top: 50%;
    font-size: 4em;
  }
} 
