.stat_wrapper {
  list-style: none;
  color: #636363;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    width: 118px;
    vertical-align: top;
    text-align: center;
  }

  /* for box sizing */
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.div-stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.statistic {
  border: 9px solid $border;
  box-sizing: content-box;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  background: white;
  color: #636363;
  font-weight: bold;
  p {
    line-height: 100px;
    font-size: 2.4em;
  }
}

.statistic_type {
  font-size: 1em;
  color: #7D8185;
  text-transform: uppercase;
  margin-top: 1em;
}

.trend {
  background: #FAFCFD;
  border: 9px solid #E6EDF2;
  border-radius: 10px;
  width: 100%;
  font-size: 1.6em;
  height: 81px;
  text-transform: uppercase;
  max-width: 160px;
  float: left;
  p { line-height: 65px }
}

#trends li {
  width: 20%;
}

#most_in_one {
  font-size: 2.5em;
}

.most_date {
  color: $green;
}

i {
  font-size: 3em;
}

.icon-sunrise {
  color: #E7C49D;
}

.icon-sunset {
  color: #C88653;
}

.icon-moon {
  color: #7D94B6;
}

.icon-desc {
  margin-top: -65px;
  display: none;
  z-index: 1000px;
  position: relative;
  font-size: 0.7em;
}

.trend:hover .icon-desc {
  display: block
}

.trend:hover .icon-sunrise {
  opacity: 0.4;
}
