$orange: #E47B57;

#timer_wrapper {
  background: #2D3538;
  text-align: center;
}

#timer_status {
  color: $orange;
  font-weight: bold;
  height: 170px;
  font-size: 5em;
  line-height: 170px;
  margin: 0 auto;
  max-width: 250px;
  border: 9px solid #293032;
  background: #49555A;
}