.progress {
  margin-top: -220px;
  margin-bottom: 100px;
  font-weight: 500;

  font-size: 4em;
  text-align: center;
}

/* Pomodoro Count */

.timer_pomodoro_count {
  font-size: 3em;
  width: 160px;
  height: 30px;
  margin: -70px auto 50px auto;
  color: $bg + 20;
  text-align: center;
  span {
    margin-right: 0.2em;
  }
}

/* Controls */

.timer_reset {
  list-style: none;
  width: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: right;
  height: 1em;
  line-height: 1em;
  text-transform: uppercase;
  a {
    font-weight: bold;
    color: $bg - 25;
    &:hover {
      color: $bg - 50;
    }
  }
}

.timer_controller {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  background: #20252B;
}

.timer_button {
  font-size: 2em; /* 30px / 18px */
  border: 2px solid #fff;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  line-height: 82px;
  display: inline-block;
  margin: 10px auto;
}

.timer_tag {
  width: 400px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: #242A30;
  height: 3em;
  label {
    display: block;
    float: left;
    color: #1F2226;
    font-size: 1.2em;
    width: 9%;
    height: 0;
    padding: 0 0 9% 0;
    margin: 5px 0 0 10px;
    border-radius: 100%;
    line-height: 42px;
    border: 3px solid #1F2226;
  }
  input {
    background: inherit;
    color: #687582;
    text-transform: uppercase;
    margin: 0;
    float: right;
    height: 3em;
    padding: 0 0 0 10px;
    width: 84%;
    border: 0;
  }
}

/* Placeholder colour */

::-webkit-input-placeholder {
   color: #394047;
}

:-moz-placeholder { /* Firefox 18- */
   color: #394047;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #394047;  
}

:-ms-input-placeholder {  
   color: #394047;  
}
