.user_profile {
margin-top: 3em;
max-width: 400px;
  img {
    float: left;
  }
  div {
    float:left;
    margin-left: 1em;
    a { 
      color: #ADB3BA;
    }
    h3 {
      color: #272B2F;
      margin:0;
      font-size: 1.3em;
    }
  }
}

h2.stats {
  text-align: center;
  line-height: 2;
  width: 100%;
  display: block;
  color: #fff;
  margin: 2em 0;
  background: $bg-green;
  border-radius: 4px;
}

.tags {
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
  list-style: none;
  font-size: 1.3em;
  border: 2px solid $bg-light - 5;
  padding: 0;
  li {
    clear: both;
    max-width: 400px;
    display: block;
    padding: 1em;
    text-transform: uppercase;
    color: $bg-light - 120;
}
  li.alt {
    background: $bg-light - 15;
  }
  p.tags_tag {
    float: left;
  }
  p.tags_count {
    font-weight: bold;
    float: right;
  }
}

.chart {
  width: 100%;
}

.forgot {
  text-align: center;
  margin-top: 2em;
  a {
    color: $bg-light - 100;
    &:hover {
      color: $bg + 20;
    }
  }
}

